{% load static %}


<footer class="text-center text-lg-start footer mt-5">
    <div class="d-flex justify-content-between align-items-center p-3">
        <img src="{% static 'Img/retonoblanco.png' %}" alt="" class="img-footer">        
       
        <div class="text-center texto-footer">
            © 2025 by Sistema Alimentador Oriental SAS | Todos los derechos reservados <br>
        </div>
      
        <img src="{% static 'Img/bus.png' %}" alt="" class="img-footer">
    </div>  
</footer>
