.form-card {
    max-width: 800px;
    border: 4px solid #6ba43a;
    border-radius: 20px;
    background-color: #f9fdf6;
    font-size: 19px;
}


.btn-success {
    background-color: #6ba43a;
    border-color: #6ba43a;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 10px;
}

.btn-success:hover {
    background-color: #5a9633;
    border-color: #5a9633;
}

.titulo-form{
    color: #6ba43a;
    font-weight: bold;
}

.titulo-modal{
    color: #6ba43a;
    font-weight: bold;
}

label{
    font-weight: bold;
}



.is-invalid {
    border-color: #dc3545 !important;
}

.is-valid {
    border-color: #28a745 !important;
}

.invalid-feedback {
    color: #dc3545;
    font-size: 0.875em;
}